<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css//styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>This site was created by Marcus Caldeira, is uses data from mapbox.com and darksky.net this is my first deployed app working with node.
                 
             </p>
             <p>Created by: {{name}}</p>
            <img class="portrait" src="/img/limegreen.png">
        </div>  
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>