<!DOCTYPE html>
<html>
    <head>
        <title>THE WEATHER APP</title> 
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css//styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>USE THIS SITE TO GET YOUR WEATHER</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>

            </form>
            <p id="messageOne"></p>
            <p id="messageTwo"></p>

        </div>
        <script src="./js/app.js"></script>
    </body>
    
     <footer>
        {{>footer}}
    </footer>
</html>